spring:
  profiles:
    active: local
---
spring:
  profiles: local
  datasource:
    username: root
    password: pass
    url: jdbc:mysql://localhost:3306/ticket?serverTimezone=UTC&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true

logging:
  level:
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE